/******************************************************************
Site Name: Athenas Family Restaurant
Author: Maverick Media

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.container-fluid,
.wrap {
	max-width: $container-lg;
}

#wpadminbar { 
background:#fff;
}

#masthead {
	background:#0d3874;
}
