/******************************************************************
Site Name: Athenas Family Restaurant
Author: Maverick Media

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
#wpadminbar{
	background:#C00;
}

#masthead {
	background:#000;
}
