/******************************************************************
Site Name: Athena's Family Restaurant
Author: Maverick Media

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

body {
	background:url(/athenasfamilyrestaurant.com/wp-content/themes/athenas/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

/*********************
HEADER
*********************/


#masthead {
	background:url(/athenasfamilyrestaurant.com/wp-content/themes/athenas/images/banner_tile.jpg) repeat;
	max-height:105px;
}

#main-navigation {
	background:none;
	
}

#main-navigation ul.menu {
	background:none;
	line-height:1;
	margin-top:2.5em;
	padding-bottom:0.1em;
	border-bottom:solid 2px #0d3975;
	
}
 
#main-navigation ul.menu li a {
	color:#0d3874;
	font-size:36px;
	font-family: 'blanchcaps';
}


#tel-bar {
	background:#0d3874;
	max-height:35px;
	
}

#order-now {
	color:#fff;
	font-family: 'avantgarde_bk_btbook';
	font-size:18px;
	max-height:35px;
	padding-top:5px;
	text-align:right;
}

#tel-no {
	background:#6e94c8;
	color:#fff;
	max-height:35px;
	font-size:22px;
}

#tel {
	color:#fff;
	font-size:22px;
	padding-top:2px;
}


/*********************
MEALS
*********************/

#meals {
	background:url(/athenasfamilyrestaurant.com/wp-content/themes/athenas/images/circle_bg_tile.jpg) repeat;
	border-top:solid 6px #6e94c8;
	position:relative;
	width:100%;
	padding-bottom:50px;
}


#meal_circles {
	margin-top:-3em;
}

#circle_breakfast {
	
}

.circle_title {
	background:#0f64a9;
	color:#fff;
	font-size:34px;
	font-family: 'benguiat_bk_btbook';
	border:solid 4px #fff;
	position:relative;
	z-index:10;
	margin-top:130px;
	text-align:center;
	width:65%;  
    transform: skew(-30deg); 
    -webkit-transform: skew(-30deg);
}

.circle_title:hover {
	background:#0D3874;
	border:solid 4px #fff;
	color:#fff;
}

#circles_bg {
	background:#6e94c8;
	position:relative;
	z-index:1;
	margin-top:-180px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:90%;
	height:130px;  
    transform: skew(-37deg); 
    -webkit-transform: skew(-37deg);
}

#greek_border {
	background:url(/athenasfamilyrestaurant.com/wp-content/themes/athenas/images/greek_border.jpg) repeat-x;
	height:47px;
	
}

/*********************
SECTION 2
*********************/

#section2 {
	background:url(/athenasfamilyrestaurant.com/wp-content/themes/athenas/images/section2_bg_tile.jpg) repeat;
	color:#fff;
	padding:20px;
}

#section2 h1 {
	color:#fff;
	font-family: 'benguiat_bk_btbook';
	font-size:30px;
}

#section2 h2 {
	color:#fff;
	font-family: 'gando_btregular';
	font-size:28px;
}

#section2 P {
	color:#fff;
	font-family: 'benguiat_bk_btbook';
	font-size:14px
}

#welcome {
	padding-top:30px;
}

/*********************
STICKY FOOTER STYLES
*********************/

html,
body.sticky-footer {
	height: 100%;
	margin: 0;
}

body.sticky-footer {

	#container {
	    display: table;
	    width: 100%;
	}

	#container .header,
	#main-navigation,
	#container .banner-wrap,
	#content,
	#container .footer {
	    display: table-row;
	    height: 1px;
	    overflow: hidden;
	}
}

html>/**/body.sticky-footer #container {
    height: 100%;
}

html>body.sticky-footer #content {
    height: auto;
}

